.barchart { width: 100%; display: block; margin: auto; text-align: center; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.barchart .barchart-grid, .barchart .barchart-data { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.barchart .barchart-data { width: 96%; display: grid; grid-gap: 1em; }
.barchart.horizontal .barchart-data { grid-gap: 2px; }
.barchart .barchart-data .barchart-cluster { position: relative; }
.barchart.horizontal .barchart-data { height: calc(100% - 1.5em); width: auto; }
.barchart .barchart-data .barchart-cluster-inner { display: grid; grid-gap:2px; position: relative; height: 100%; width: 100%; }
.barchart.horizontal .barchart-data .barchart-cluster-inner { grid-gap: 0px; }
.barchart .barchart-data .barchart-series { position: relative; }
.barchart .barchart-data .barchart-series-inner { position: absolute; width: 100%; height: 100%; background-color: #FF6700; cursor: pointer; vertical-align: baseline; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.barchart .barchart-data .barchart-cluster-inner { position: relative; height: 100%; }
.barchart.horizontal .barchart-data .barchart-cluster-inner { width: 100%; }
.barchart .barchart-data .barchart-series:hover { background: rgba(0,0,0,0.1); }
.barchart .barchart-data .barchart-cluster-inner .barchart-series-inner { background: #FF7F29; transition: all 0.3s ease-in; }
.barchart .barchart-data .barchart-cluster-inner .barchart-series { width: 100%; height: 100%; }
.barchart .barchart-data .barchart-cluster-inner .barchart-series-inner.series-0 { background-color: #FF6700; }
.barchart .barchart-data .barchart-cluster-inner .barchart-series-inner.series-1 { background-color: #F9BC26; }
.barchart .barchart-data .barchart-cluster-inner .category-label { position: absolute; top: 100%; left: 0; width: 100%; text-align: center; padding-top: 0.25em; }
.barchart.horizontal .barchart-data .barchart-cluster-inner .category-label { top: 50%; left: -5px; height: auto; width: auto; transform: translate3d(-100%,-50%,0); }
.barchart .barchart-data .label { position: absolute; left: 0px; border-left: 1px solid #5b5b5b; padding-left: 0.25em; padding-top: 0.25em; line-height: 1em; }
.barchart .barchart-grid { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; }
.barchart .barchart-grid .line { width: 100%; border-bottom: 1px solid #5b5b5b; color: #5b5b5b; opacity: 0.3; position: absolute; text-align: right; }
.barchart.horizontal .barchart-grid .line { width: auto; height: 100%; border-bottom: 0px; border-left: 1px solid #5b5b5b; }
.barchart.horizontal .barchart-grid .line span { display: block; position: relative; top: 100%; transform: translate3d(0,-100%,0); margin-left:2px; }
.barchart:hover .barchart-grid .line { opacity: 1; }
.barchart:after { content: ""; clear: both; }
.barchart .balloon {
	position: absolute;
	background-color: white;
	padding: 0.25em 0.5em;
	left: 50%;
	top: 0;
	transform: translate3d(0%,-120%, 0);
	white-space: nowrap;
	margin-right: -50%;
	text-align: center;
	z-index: 100;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.barchart .balloon::after {
	content: '';
	position: absolute;
	bottom: auto;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	left: 0;
	border-color: transparent;
	border-left-color: white;
	bottom: -0.5em;
}
.barchart .bar-right .balloon {
	right: 50%;
	left: auto;
	margin-left: -50%;
	margin-right: auto;
}
.barchart .bar-right .balloon::after {
	border-left-color: transparent;
	border-right-color: white;
	left: auto;
	right: 0;
}
