.barchart {
	width: 100%;
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.barchart .barchart-grid, .barchart .barchart-data {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.barchart .barchart-data {
	width: 96%;
	display: grid;
	grid-gap: 1em;
}
.barchart .barchart-data .bar {
	display: block;
	width: 100%;
	background-color: #FF6700;
	cursor: pointer;
	position: absolute;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.barchart .barchart-data .barchart-column { position: relative; height: 100%; }
.barchart .barchart-data .barchart-column:hover { background: rgba(0,0,0,0.1); }
.barchart .barchart-data .barchart-column .bar { background: #FF7F29; position: absolute; width: 100%; transition: all 0.3s ease-in; }
.barchart .barchart-data .barchart-column .bar.series-0 { background-color: #FF6700; }
.barchart .barchart-data .barchart-column .bar.series-1 { background-color: #F9BC26; }
.barchart .barchart-data .barchart-column .category-label {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	text-align: center;
	padding-top: 0.25em;
}
.barchart .barchart-data .label {
	position: absolute;
	left: 0px;
	border-left: 1px solid #5b5b5b;
	padding-left: 0.25em;
	padding-top: 0.25em;
	line-height: 1em;
}
.barchart .barchart-grid {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.barchart .barchart-grid .line {
	width: 100%;
	border-bottom: 1px solid #5b5b5b;
	color: #5b5b5b;
	opacity: 0.3;
	position: absolute;
	text-align: right;
}
.barchart:hover .barchart-grid .line {
	opacity: 1;
}
.barchart:after {
	content: "";
	clear: both;
}
.barchart .balloon {
	position: absolute;
	background-color: white;
	padding: 0.25em 0.5em;
	left: 50%;
	top: 0;
	transform: translate3d(0%,-120%, 0);
	white-space: nowrap;
	margin-right: -50%;
	text-align: center;
	z-index: 100;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.barchart .balloon::after {
	content: '';
	position: absolute;
	bottom: auto;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	left: 0;
	border-color: transparent;
	border-left-color: white;
	bottom: -0.5em;
}
.barchart .bar-right .balloon {
	right: 50%;
	left: auto;
	margin-left: -50%;
	margin-right: auto;
}
.barchart .bar-right .balloon::after {
	border-left-color: transparent;
	border-right-color: inherit;
	left: auto;
	right: 0;
}
